@font-face {
	font-family: JandaSillyMonkey;
	src: url('../Fonts/JandaSillyMonkey.ttf') format('truetype');
}

/*div.hcb-shadow-tl{background:url(shadow-bg.png) top left}
div.hcb-shadow-tr{background:url(shadow-bg.png) top right}
div.hcb-shadow-bl{background:url(shadow-bg.png) bottom left}
div.hcb-shadow-br{background:url(shadow-bg.png) bottom right}
div.hcb-shadow-t{background:url(shadow-bg-t.png) repeat-x}*/
/*div.hcb-shadow-b{margin-bottom:5px;background:url(shadow-bg-t.png) repeat-x bottom}*/
/*div.hcb-shadow-m{clear:both;background:url(shadow-bg-r.png) repeat-y right;padding-right:7px}*/
/*.hcb-shadow-r{display:block;background:url(shadow-bg-l.png) repeat-y left}*/
/*div.hcb-shadow-t,div.hcb-shadow-tr,div.hcb-shadow-b,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{background-color:white;height:7px}
div.hcb-shadow-tr,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{width:7px}
div.hcb-shadow-tr,div.hcb-shadow-br{float:right}
div.hcb-shadow-tl,div.hcb-shadow-bl{float:left}
br.hcb-shadow-clear{clear:both;display:block}*/
#HCB_comment_box *
{
    margin:0;
    padding:0;
    outline:0;
}
#HCB_comment_box textarea.commentbox
{
    width:100%;
    display:block;
}
#HCB_comment_box textarea,#HCB_comment_box input.text,#HCB_comment_box input.submit
{
    padding-left:5px;
    background-color:rgba(255, 255, 255, 0.7);
    font-size:16px;
    border:none;
    padding:10px;
    box-shadow:none;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}
#HCB_comment_box .hcb-wrapper-half{}
#HCB_comment_box .hcb-wrapper
{
    margin:0 auto;
    max-width:700px;
}
#hcb_form a{
    color:red;
    font-size:10px;
}

#HCB_comment_box{
    text-shadow:none;
    color:#000;
}

#HCB_comment_box h3{
    color:#000;
    text-shadow:0px 0px 10px #fff;
    font-size:22px;
}
#HCB_comment_box #no_comments{
    font-size:14px;
    margin-top:10px;
}

#HCB_comment_box input.text{
    background-color:rgba(255, 255, 255, 0.7);
    border:1px dotted black;
    max-width:700px;
    margin: 0px auto 10px auto;
    padding:5px;
    font-size:13px;
    font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}
#HCB_comment_box input.text-focus{
    padding:5px;
}
#HCB_comment_box input.submit{
    width:104px;
    cursor:pointer;
    margin-top:10px;
    color:transparent;
    height:55px;
    background-color:transparent;
}

.HCB_comment_box_ita input.submit{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submit_ita.png) no-repeat;
    background-size:contain;
}
.HCB_comment_box_ita input.submit:hover{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submitHover_ita.png) no-repeat;
    background-size:contain;
}

.HCB_comment_box_eng input.submit{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submit.png) no-repeat;
    background-size:contain;
}
.HCB_comment_box_eng input.submit:hover{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submitHover.png) no-repeat;
    background-size:contain;
}

.HCB_comment_box_latv input.submit{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submit_latv.png) no-repeat;
    background-size:contain;
}
.HCB_comment_box_latv input.submit:hover{
    background:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/submitHover_latv.png) no-repeat;
    background-size:contain;
}
#HCB_comment_box span.home-desc{
    font-size:5px;
    opacity:.4;
}
#HCB_comment_box blockquote{
    margin:0!important;
    padding:10px;/*background:url(speech-bubble.png) no-repeat;*/
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    text-shadow:none;
    color: rgb(7, 95, 122);
    font-size: 20px;

}
#HCB_comment_box div.comment{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius:20px;
    margin:30px auto;
    padding:5px;
    box-shadow: -1px -1px 40px #5b3f06;
    -moz-box-shadow: -1px -1px 40px #5b3f06;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
    max-width:700px;
}

.hcb-flag,
.hcb-like,
.hcb-reply {
    width:20%;
    display:inline-block;
    color:#000;
    font-size:12px;
}

.date{
    font-size:11px;
}

#HCB_comment_box .comment .likes{
    margin:7px;
}

#HCB_comment_box .text-blur{
    color:black;
    border:1px dotted black;
    padding:10px;
    background-color:rgba(255, 255, 255, 0.7);
    font-size:16px;

}


@media only screen and (max-width:768px){
    #HCB_comment_box input.submit{
        width:90px;
    }
}

@media only screen and (max-width:400px){
    #HCB_comment_box input.submit{
        width:80px;
    }
}


