.content{
    float:none;
    text-align:center;
    margin:0 auto;
    border-radius:20px;
}

.content h2{
    padding:10px;
    margin-bottom:10px;
    font-size:25px;
    text-shadow:2px 2px 2px #f3e8aa;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    color:#5b3f06;
}

img{
    border:none;
}

.back{
    font-family:'Janda Silly Monkey';
    color:black;
    font-weight:bold;
    font-size:13px;
    padding:0;
    margin:0;
    top:0;
    left:0;
}

#gallery{
    width:85%;
    text-align:center;
}

#gallery img{
    width:12%;
    float:left;
    border-radius:15px;
    box-shadow: -1px -1px 40px #5b3f06;
    -moz-box-shadow: -1px -1px 40px #5b3f06;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
    padding:3px;
    margin:3%;
    display:inline-block;
}

#gallery .left{
    transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
}

#gallery .right{
    transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
-webkit-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
-ms-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
}

/*.text{
    width:60%;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;
            box-shadow: -1px -1px 40px #5b3f06;
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0.7);
    padding:10px;
    margin:0 auto;
}

.content p{
    font-size:17px;
}

#albumsContent{
    color:#000000;
    text-shadow:1px 1px 5px rgb(255, 255, 255);
    font-size:15px;
    font-weight:bold;
}

#albumsContent ul{
    margin:15% auto;
}

li.albums{
    list-style:none;
    width:100px;
    height:80px;
    display:inline-block;
    margin:10px;
}

.albums{
background-repeat:no-repeat;
background-size:contain;
-webkit-animation: cssAnimation 1s 1 ease-in;
-moz-animation: cssAnimation 1s 1 ease-in;
-o-animation: cssAnimation 1s 1 ease-in;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px); }
to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px); }
to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@keyframes cssAnimation {
    from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}

li#album1{
    margin:0px 0px 10px 0px;
    background-image:url(../Images/Images_albums/Album1.png);
    -webkit-transform: rotate(7deg);
       -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
         -o-transform: rotate(7deg);
            transform: rotate(7deg);
}

li#album2{
    margin:0px 0px 0px 25px;
    background-image:url(../Images/Images_albums/Album2.png);   
    -webkit-transform: rotate(350deg);
       -moz-transform: rotate(350deg);
        -ms-transform: rotate(350deg);
         -o-transform: rotate(350deg);
            transform: rotate(350deg);
}

li#album3{
    margin:0px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album3.png);  
    -webkit-transform: rotate(13deg);
       -moz-transform: rotate(13deg);
        -ms-transform: rotate(13deg);
         -o-transform: rotate(13deg);
            transform: rotate(13deg);
}

li#album4{
    margin:20px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album4.png);   
    -webkit-transform: rotate(-6deg) scale(1) skew(0deg);
       -moz-transform: rotate(-6deg) scale(1) skew(0deg);
        -ms-transform: rotate(-6deg) scale(1) skew(0deg);
         -o-transform: rotate(-6deg) scale(1) skew(0deg);
            transform: rotate(-6deg) scale(1) skew(0deg);
}

li#album5{
    margin:0px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album5.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(10px);
}

li#album6{
    margin:10px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album6.png);
    -webkit-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
}

li#album7{
    margin:40px 0px 25px 0px;
    background-image:url(../Images/Images_albums/Album7.png);
    -webkit-transform: rotate(13deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(13deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(13deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(13deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(13deg) scale(1) skew(0deg) translate(10px);
}

li#album8{
    margin:40px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album8.png);
    -webkit-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
}

li#album9{
    margin:10px 0px 0px 10px;
    background-image:url(../Images/Images_albums/Album9.png);
    -webkit-transform: rotate(-9deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(-9deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(-9deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(-9deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(-9deg) scale(1) skew(0deg) translate(10px);
}

li#album10{
    margin:45px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album10.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
}

li#album11{
    margin:40px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album11.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(10px);
}

li#album12{
    margin:65px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album12.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
}

li#album13{
    margin:40px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album13.png);
    -webkit-transform: rotate(-12deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(-12deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(-12deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(-12deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(-12deg) scale(1) skew(0deg) translate(10px);
}

li#album14{
    margin:20px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album14.png);
    -webkit-transform: rotate(22deg) scale(1) skew(0deg) translate(50px);
       -moz-transform: rotate(22deg) scale(1) skew(0deg) translate(50px);
        -ms-transform: rotate(22deg) scale(1) skew(0deg) translate(50px);
         -o-transform: rotate(22deg) scale(1) skew(0deg) translate(50px);
            transform: rotate(22deg) scale(1) skew(0deg) translate(50px);
}

li#album15{
    margin:40px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album15.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(30px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(30px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(30px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(30px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(30px);
}

li#album16{
    margin:0px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album16.png);
    -webkit-transform: rotate(-20deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(-20deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(-20deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(-20deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(-20deg) scale(1) skew(0deg) translate(10px);
}

li#album17{
    margin:0px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album17.png);
    -webkit-transform: rotate(10deg) scale(1) skew(0deg) translate(35px);
       -moz-transform: rotate(10deg) scale(1) skew(0deg) translate(35px);
        -ms-transform: rotate(10deg) scale(1) skew(0deg) translate(35px);
         -o-transform: rotate(10deg) scale(1) skew(0deg) translate(35px);
            transform: rotate(10deg) scale(1) skew(0deg) translate(35px);
}

li#album18{
    margin:60px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album18.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(30px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(30px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(30px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(30px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(30px);
}

li#album19{
    margin:30px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album19.png);
    -webkit-transform: rotate(15deg) scale(1) skew(0deg) translate(30px);
       -moz-transform: rotate(15deg) scale(1) skew(0deg) translate(30px);
        -ms-transform: rotate(15deg) scale(1) skew(0deg) translate(30px);
         -o-transform: rotate(15deg) scale(1) skew(0deg) translate(30px);
            transform: rotate(15deg) scale(1) skew(0deg) translate(30px);
}

li#album19a{
    margin:0px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album19a.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(10px);
}

li#album20{
    margin:65px 0px 20px 0px;
    background-image:url(../Images/Images_albums/Album20.png);
    -webkit-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
}

li#album21{
    margin:30px 0px 30px 0px;
    background-image:url(../Images/Images_albums/Album21.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
}

li#album22{
    margin:10px 0px 0px 0px;
    background-image:url(../Images/Images_albums/Album22.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(10px);
}*/
