@font-face {
	font-family: JandaSillyMonkey;
	src: url('Fonts/JandaSillyMonkey.ttf') format('truetype');
}

@font-face {
	font-family: comic_0;
	src: url('Fonts/comic_0.ttf') format('truetype');
}

@font-face {
	font-family: Brewsky;
	src: url('Fonts/Brewsky.ttf') format('truetype');
}

body
{
    background-color:#008000;
}



*{
    margin:0;
    padding:0;
    font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}

img{
    border:none;   
}

a{
    display:block;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}

.middle{
    max-width:1000px;
    margin:0 auto;
    background-color:#008000;
    background-image:url('../Images/background1.png');
    background-repeat:no-repeat;
    background-size:contain;
    min-height:1000px;
}

.lang{
    position:fixed;
    top:15%;
    left:5%;
}

.lang a{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    height:50px;
    width:50px;
    margin:5px;
    outline:none;
}

a.ita_link{
    background-image:url(../Images/ita.png);
}

a.latv_link{
    background-image:url(../Images/latv.png);
}

a.eng_link{
    background-image:url(../Images/eng.png);
}

header{
    margin:0 auto;
    width:330px;
}

header h1{
    color:#ffd800;
    text-shadow:3px 3px 3px #855c09;
    font-size:80px;
    font-family:'Janda Silly Monkey';
}


nav{
    float:none;
    margin:10px auto;
    width:100%;
}

nav ul{
    max-width:450px;
    margin:0 auto;
}

nav ul li{
    margin:0 4%;
    width:70px;
    height:70px;
    padding:10px 0;
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center;
    list-style:none;
    display:inline-block;
}

li.home_btn{
    background-image:url(../Images/homeSm.png)   
}

li.home_btn:hover{
    background-image:url(../Images/homeSm1.png)   
}

li.album_btn{
    background-image:url(../Images/albumSm.png);
}

li.album_btn:hover{
    background-image:url(../Images/albumSm1.png);
}

li.journal_btn{
    background-image:url(../Images/journalSm.png);
}

li.journal_btn:hover{
    background-image:url(../Images/journalSm1.png);
}

li.message_btn{
    background-image:url(../Images/guestbookSm.png);
}

li.message_btn:hover{
    background-image:url(../Images/guestbookSm1.png);
}

.content{
    float:none;
    width:70%;
    text-align:center;
    margin:0 auto;
    border-radius:20px;
    padding:20px;
    color:#000000;
}

.content h1{
    padding:20px;
    font-size:30px;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
}




.image{
    width:40%;
    border-radius:20px;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;   
            box-shadow: -1px -1px 40px #5b3f06;
    padding:10px;
    margin:10px auto 10px auto;  
}

#gallery{
    width:60%;
}

#gallery img{
    width:100px;
    height:100px;
    float:left;
    border-radius:20px;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;    
            box-shadow: -1px -1px 40px #5b3f06;
    padding:10px;
    margin:10px;
    display:inline-block;
}

.text{
    width:60%;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;
            box-shadow: -1px -1px 40px #5b3f06;
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0.7);
    padding:10px;
    margin:0 auto;
}

li.albums{
    list-style:none;
    width:120px;
    height:120px;
    display:inline-block;
background-repeat:no-repeat;
background-size:contain;
/*-webkit-animation: cssAnimation 1.4504s 1 ease-in;
-moz-animation: cssAnimation 1.4504s 1 ease-in;
-o-animation: cssAnimation 1.4504s 1 ease-in;*/
}
/*@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}
@keyframes cssAnimation {
    from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px); }
}*/

li#album1{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album1.png);
    -webkit-transform: rotate(7deg);
       -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
         -o-transform: rotate(7deg);
            transform: rotate(7deg);
}

li#album2{
    margin:10px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album2.png);   
    -webkit-transform: rotate(350deg)translate(0px);
       -moz-transform: rotate(350deg)translate(0px);
        -ms-transform: rotate(350deg)translate(0px);
         -o-transform: rotate(350deg)translate(0px);
            transform: rotate(350deg)translate(0px);
}

li#album3{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album3.png);  
    -webkit-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
}

li#album4{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album4.png);   
    -webkit-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
}

li#album5{
    margin:10px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album5.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
}

li#album6{
    /*margin:10px 0px 0px 0px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album6.png);
    -webkit-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
}

li#album7{
    /*margin:10px 0px 0px 0px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album7.png);
    -webkit-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
}

li#album8{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album8.png);
    -webkit-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
}

li#album9{
    /*margin:10px 0px 0px 10px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album9.png);
    -webkit-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
}

li#album10{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album10.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album11{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album11.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album12{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album12.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
}

li#album13{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album13.png);
    -webkit-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
}

li#album14{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album14.png);
    -webkit-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
}

li#album15{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album15.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
}

li#album16{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album16.png);
    -webkit-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
}

li#album17{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album17.png);
    -webkit-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
}

li#album18{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album18.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album19{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album19.png);
    -webkit-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
}

li#album19a{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album19a.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
}

li#album20{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album20.png);
    -webkit-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
}

li#album21{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album21.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
}

li#album22{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album22.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
}

body.iframe-body{
    /*background-color:rgba(197, 225, 252, 0.7);*/
    background-color:transparent;
}

iframe{
    margin-top:10px;
    width:85%;
    height:500px;   
    /*-webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;
            box-shadow: -1px -1px 40px #5b3f06;*/
    border:none;
    overflow:hidden;
}

.iframe-body ul{
    text-align:center;
    margin:15px;
}

.iframe-body button{
    background-size:contain;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
    width:10%;
    height:50px;
    cursor:pointer;
    
}

button.BtnPrev{
    float:left;
    margin:-100px 0px 0 0;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/prevSm.png);
}

button.BtnNext{
    margin:-100px 0 0 0;
    float:right;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/nextSm.png);
}

.iframe-body button:hover{
    width:60px;
    height:60px;
}

.iframe-body li{
    color:#000000;
    text-shadow:1px 1px 5px rgb(255, 255, 255);
    font-size:15px;
    font-weight:bold;
}

@media only screen and (max-width:768px){
    iframe{
        margin-top:10%;
    }
}

@media only screen and (max-width:400px){
    iframe{
        height:400px;
    }
    h1.iframe-h1{
            font-size:15px;
        }
}



