@font-face {
	font-family: JandaSillyMonkey;
	src: url('Fonts/JandaSillyMonkey.ttf') format('truetype');
}

@font-face {
	font-family: comic_0;
	src: url('Fonts/comic_0.ttf') format('truetype');
}

@font-face {
	font-family: Brewsky;
	src: url('Fonts/Brewsky.ttf') format('truetype');
}

/*body
{
    background-color:#008000;
}*/

*{
    margin:0;
    padding:0;
    font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
}

img{
    border:none;   
}

a{
    display:block;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}

div{
    padding:20px;
    height:100%;
}
ul{
    margin:0 auto;
    width:100%;
    text-align:center;
}

.BtnNext{
    background-image:url('https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/nextSm.png');
    background-size:contain;
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
    cursor:pointer;
    width:45px;
    height:45px;
    float:right;
    margin:-70px -20px 0 0;
}

.BtnNext:hover{
    width:50px;
    height:50px;
}

.BtnPrev{
    background-image:url('https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/prevSm.png');
    background-size:contain;
    background-color:transparent;
    background-repeat:no-repeat;
    border:none;
    cursor:pointer;
    width:45px;
    height:45px;
    float:left;
    margin:-70px 0 0 -20px;
}

.BtnPrev:hover{
    width:50px;
    height:50px;
}

li.albums a{
    color:#000;
    font-family:'Segoe UI';
}

li.albums{
    list-style:none;
    width:120px;
    height:105px;
    margin:10px;
    text-shadow:0px 0px 2px #fff;
    font-size:15px;
    font-weight:bold;
    display:inline-block;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
}

li#album1{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album1.png);
    -webkit-transform: rotate(7deg);
       -moz-transform: rotate(7deg);
        -ms-transform: rotate(7deg);
         -o-transform: rotate(7deg);
            transform: rotate(7deg);
}

li#album2{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album2.png);   
    -webkit-transform: rotate(350deg)translate(0px);
       -moz-transform: rotate(350deg)translate(0px);
        -ms-transform: rotate(350deg)translate(0px);
         -o-transform: rotate(350deg)translate(0px);
            transform: rotate(350deg)translate(0px);
}

li#album3{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album3.png);  
    -webkit-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
}

li#album4{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album4.png);   
    -webkit-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-6deg) scale(1) skew(0deg) translate(0px);
}

li#album5{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album5.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
}

li#album6{
    /*margin:10px 0px 0px 0px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album6.png);
    -webkit-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-4deg) scale(1) skew(0deg) translate(0px);
}

li#album7{
    /*margin:10px 0px 0px 0px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album7.png);
    -webkit-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(13deg) scale(1) skew(0deg) translate(0px);
}

li#album8{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album8.png);
    -webkit-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(3deg) scale(1) skew(0deg) translate(0px);
}

li#album9{
    /*margin:10px 0px 0px 10px;*/
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album9.png);
    -webkit-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-9deg) scale(1) skew(0deg) translate(0px);
}

li#album10{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album10.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album11{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album11.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album12{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album12.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
}

li#album13{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album13.png);
    -webkit-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-12deg) scale(1) skew(0deg) translate(0px);
}

li#album14{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album14.png);
    -webkit-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(22deg) scale(1) skew(0deg) translate(0px);
}

li#album15{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album15.png);
    -webkit-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(2deg) scale(1) skew(0deg) translate(0px);
}

li#album16{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album16.png);
    -webkit-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-20deg) scale(1) skew(0deg) translate(0px);
}

li#album17{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album17.png);
    -webkit-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(10deg) scale(1) skew(0deg) translate(0px);
}

li#album18{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album18.png);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

li#album19{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album19.png);
    -webkit-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(15deg) scale(1) skew(0deg) translate(0px);
}

li#album19a{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album19a.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
}

li#album20{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album20.png);
    -webkit-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(-3deg) scale(1) skew(0deg) translate(0px);
}

li#album21{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album21.png);
    -webkit-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(5deg) scale(1) skew(0deg) translate(0px);
}

li#album22{
    margin:0px 0px 0px 0px;
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Albums/Album22.png);
    -webkit-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
       -moz-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
        -ms-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
         -o-transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
            transform: rotate(7deg) scale(1) skew(0deg) translate(0px);
}
