@font-face {
	font-family: JandaSillyMonkey;
	src: url('Fonts/JandaSillyMonkey.ttf') format('truetype');
}

@font-face {
	font-family: comic_0;
	src: url('Fonts/comic_0.ttf') format('truetype');
}

@font-face {
	font-family: Brewsky;
	src: url('Fonts/Brewsky.ttf') format('truetype');
}

body
{
    background-color:#008000;
}

*{
    margin:0;
    padding:0;
}

img{
    border:none;   
}

a{
    display:block;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}

.middle{
    max-width:1300px;   
    margin:0 auto;
    background-color:#008000;
    background-image:url('https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/background1.png');
    background-repeat:no-repeat;
    background-size:contain;
    min-height:1000px;
}

.lang{
    position:fixed;
    top:15%;
    left:5%;
}

.lang a{
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    height:40px;
    width:40px;
    margin:5px;
}

a.ita_link{
    background-image:url(../Images/ita.png);
}

a.latv_link{
    background-image:url(../Images/latv.png);
}

a.eng_link{
    background-image:url(../Images/eng.png);
}

header{
    margin:0 auto;
    width:165px;
}

header h1{
    color:#ffd800;
    text-shadow:3px 3px 3px #855c09;
    font-size:40px;
    font-family:'Janda Silly Monkey';
}

nav{
    float:none;
    margin:0 auto;
    width:110px;
}

nav ul li{
    margin-top:5px;
    width:40px;
    height:40px;
    padding:10px 0;
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center;
    list-style:none;
    display:inline-block;
}


/*li.home_btn:hover,
li.album_btn:hover,
li.journal_btn:hover,
li.message_btn:hover{  
    -webkit-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
       -moz-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
        -ms-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
         -o-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);        
            transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
}*/

li.home_btn{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/homeSm.png)   
}

li.home_btn:hover{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/homeSm1.png)   
}

li.album_btn{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/albumSm.png);
}

li.album_btn:hover{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/albumsSm1.png);
}

li.journal_btn{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/journalSm.png);
}

li.journal_btn:hover{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/journalSm1.png);
}

li.message_btn{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/guestbookSm.png);
}

li.message_btn:hover{
    background-image:url(https://dl.dropboxusercontent.com/u/18761433/Anahera/Navigation/guestbookSm1.png);
}


.content{
    float:none;
    width:90%;
    text-align:center;
    border-radius:20px;
    padding:20px;
    color:#000000;
}

.content h1{
    padding:10px;
    font-size:22px;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;   
    -webkit-text-shadow:1px 1px 10px #ffffff;
       -moz-text-shadow:1px 1px 10px #ffffff;
        -ms-text-shadow:1px 1px 10px #ffffff;
         -o-text-shadow:1px 1px 10px #ffffff;
            text-shadow:1px 1px 10px #ffffff;
}

.content h2{
    padding:10px;
    margin-bottom:10px;
    font-size:17px;
    text-shadow:2px 2px 2px #f3e8aa;
    font-family:'Monotype Corsiva', 'Apple Chancery', 'ITC Zapf Chancery', 'URW Chancery L', cursive;
    text-decoration:underline;
    color:#5b3f06;
}

.image{
    width:70%;
    border-radius:20px;    
    -webkit-box-shadow: -1px -1px 20px #5b3f06;
       -moz-box-shadow: -1px -1px 20px #5b3f06;    
            box-shadow: -1px -1px 20px #5b3f06;
    padding:2px;
    margin:10px auto 5px auto;  
}


#gallery{
    width:70%;
}

#gallery img{
    width:50px;
    height:50px;
    float:left;
    border-radius:10px;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;
            box-shadow: -1px -1px 40px #5b3f06;
    padding:2px;
    margin:2%;
}

#gallery .left{    
    -webkit-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
       -moz-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
        -ms-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
         -o-transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
            transform: rotate(40deg) scale(1) skew(1deg) translate(10px);
}

#gallery .right{    
    -webkit-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
       -moz-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
         -o-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
        -ms-transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
            transform: rotate(-40deg) scale(1) skew(1deg) translate(10px);
}

.text{
    width:60%;
    -webkit-box-shadow: -1px -1px 40px #5b3f06;
       -moz-box-shadow: -1px -1px 40px #5b3f06;
            box-shadow: -1px -1px 40px #5b3f06;
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0.7);
    padding:10px;
    margin:0 auto;
}

.content p{
    font-size:15px;
}

#albumsContent{
    /*width:600px;*/
    color:#000000;
    text-shadow:1px 1px 5px rgb(255, 255, 255);
    font-size:14px;
    font-weight:bold;
}
